body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.navbar-default {
    background-color: black;
}

.navbar .navbar-brand {
    color: white;
}

.navbar .navbar-text {
    color: white;
}

.img_psj{
    height: 100%;
    width: 100%;

}
.glyphicon{
    color: white;
    font-size: xx-large;
}
.fa{
    color: white;
    font-size: xx-large;
}



.work {
    background: white;
}
.work-left {
    text-align: right;
    padding: 3em 5em 0 0;
}
.work-right {
    border-left: 1px solid #999;
    padding: 2.5em 0 2em 6em;
}
.work-info h4 {
    font-size: 1.2em;
    background: darkcyan;
    display: inline-block;
    padding: .6em 1.2em;
    color: #fff;
    position:relative;
}
.work-info h4:before {
    width: 0;
    height: 0;
    position: absolute;
    content: '';
    top: 9px;
    right: -14px;
    border-style: solid;
    border-width: 10px 0 10px 16px;
    border-color: transparent transparent transparent rgb(0, 139, 139);
}
.work-info h5 {
    font-size: 1.3em;
    color: #F7E612;
    margin-bottom: .5em;
    border: 1px solid #F7E612;
    display: inline-block;
    padding: 0 1.2em;
}
.work-info h5 span.glyphicon {
    font-size: 0.9em;
    color: #fff;
    background: #008B8B;
    padding: 1em;
    -webkit-border-radius: 70%;
    -moz-border-radius: 70%;
    border-radius: 70%;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
}
.work-right h5 span.glyphicon {
    margin-right: 5em;
    margin-left: -8em;
}
.work-left2 h5 span.glyphicon {
    margin-left: 4em;
    margin-right: -7.3em;
    z-index: 9;
}
.work-right.work-right2 {
    min-height: 210px;
    float: right;
}
.work-right.work-right2 h4:before {
    left: -14px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}
.work-right.work-right2 h4 {
    margin-top: 0.8em;
}
.work-info:hover h5 span.glyphicon {
    color: #F7E612;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
}




.bar-grids {
    padding: 0 4em;
}
.progress {
    height: 10px;
    margin-bottom: 2.2em;
    background-color: black;
}
.progress-bar {
    background-color: #008B8B;
}
.bar-grids h6 {
    font-size: 1.1em;
    color: black;
    margin-bottom: 0.6em;
}
.bar-grids h6 span {
    float: right;
    font-size: 0.9em;
}