body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.navbar-default {
    background-color: cornflowerblue;
}

.navbar .navbar-brand {
    color: white;
}

.navbar .navbar-text {
    color: white;
}

.img_psj{
    height: 100%;
    width: 100%;

}
.glyphicon{
    color: white;
    font-size: xx-large;
}
.fa{
    color: white;
    font-size: xx-large;
}